<h1> <%= @game.player1.read_name %> vs <%= @game.player2.read_name %> </h1>

<h2> <%= @game.player2.read_name %>'s turn </h2>

<h3><%= @game.player1.read_name %> HP: <%= @game.player1.read_hp %> </h3>

<form action="/attack_1" method="get">
    <input type="submit" value="Attack!">
</form>

<h3> <%= @game.player1.read_name %> attacked <%= @game.player2.read_name %>! </h3>

